@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
header {
	height: 80px;
	line-height: 80px;
	text-align: center;
	background-color: red;
	color: black;
}
nav {
	height: 30px;
	line-height: 30px;
	background-color: black;
}
nav a {
	text-decoration: none;
	color: white;
	margin-left: 30px;
}
section {
	height: 819px;
	background-color: #fff0ff;
	padding: 20px;
	overflow: auto;
}
section div {
	text-align: center;
	margin: 20px;
}
section p {
	margin: 30px 0;
}
section li {
	margin-left: 30px;
}
footer {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: red;
	color: black;
}